*{margin : 0;padding:0; box-sizing: border-box;} /*요소의 너비(width)와 높이(height)를 계산할 때, padding과 border를 포함해서 계산한다 */
a{text-decoration: none;} /* 링크 속성 글자 밑줄 없앰 */
li{list-style: none;} /* 항목 태그 블릿 아이콘 장식 없앰 */
img{display: block; border:0} /* img는 InlIne 속성을 가지고 있어서 오차 간격을 없애기 위한 block 속성, 모든 테두리 선은 없음으로 초기화 */
body{
    font-family: 'Verdana'; /* 기본 글꼴 */
    font-size: 14px; /*글자 크기 */
    color: #3a3a3a; /*글자 색상 */
    line-height: 28px /* 줄 간격 */
}